.dash {
	border: 5px dashed red;
	width: 50%;
	height: 120px;
	text-align: right;
	font-weight:bold
}

img {
	border: 5px solid green;
}

.menu {
	background: red;
	width: 500px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px 0 0 20px;
}

.menu nav {
	padding-top: 1px;
}

.menu nav li {
    list-style-type: none;
    display: inline-flex;
    position: relative;
}

.menu nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin-left: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background: #ccc;
    padding: 0;
}

.drop:hover > .dropdown {
    display: block;
}

.dropdown:hover > .dropdown {
    display: block;
}

.drop li a {
    text-decoration: none;
	color: white;
	font-size: 20px;
}

.menu nav a:hover{
	border: 1px solid blue;
	border-color: blue;
	background: blue;
	border-radius: 20px;
}
